.footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .footer-links a {
    font-size: 16px;
  }

  a img{
    width:40px;
    height:40px
  }
  
  /* Media queries for small screens */
  @media only screen and (max-width: 600px) {
    .footer {
      padding: 10px;
    }
    .footer-links {
      flex-direction: row;
      gap: 5px;
    }
    .footer-links a {
      font-size: 14px;
    }
  }
  
  /* Media queries for large screens */
  @media only screen and (min-width: 601px) {
    .footer-links {
      justify-content: space-between;
      max-width: 600px;
      margin: 0 auto;
    }
  }
  